.address--form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;

}

.address--card {
  width: 60vw;
}

.full-width {
  width: 100%;
}
