<p>edit-article works!</p>

//todo create a form
//todo create input fields for each field in Articles
<mat-card>
  <form [formGroup]="articleForm" (submit)="submitChanges($event)">

  <mat-card-header>
    <div mat-card-avatar class="display-article--card-icon"></div>
    <mat-card-title>
      {{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.type | titlecase}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Id</mat-label>
      <input matInput placeholder="Simple placeholder" formControlName="id" >
    </mat-form-field>

    TODO ADD ALL FIELDS:

    COMMON
    FOR ARTICLE

    NGIF

    FOR BOOK

    FOR GAME

    FOR LP

    TODO Lookup form validation validate
    ISBN? YES, you've got a library for this.

    Genre = make a select for each with enum

    Price >=0

    {{article.id}}
    {{article.type}}
    {{article.title}}
    {{article.supplierId}}
    {{article.price}}
    {{article.type == 'book' ? article?.author: ""}}
    {{article.type == 'book'? article?.genre: ""}}
    {{article.type == 'book'? article?.genre: ""}}
    {{article.type == 'book'? article?.isbn: ""}}


  </mat-card-content>
  <mat-card-actions>
    <button mat-button type="button" (click)="dismissChanges($event)">Dismiss</button>
<!--    <button mat-button (click)="doEdit()" *ngIf="showAdminControls" >EDIT</button>-->
<!--    <button mat-button (click)="doDelete()" *ngIf="showAdminControls" >DELETE</button>-->
    <button mat-button type="submit">Save</button>
  </mat-card-actions>
  </form>
</mat-card>


