<p>edit-article works!</p>

//todo create a form
//todo create input fields for each field in Articles
<mat-card>
  <form [formGroup]="articleForm" (submit)="submitChanges($event)">

  <mat-card-header>
    <div mat-card-avatar class="display-article--card-icon"></div>
    <mat-card-title>
      {{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.type | titlecase}}:{{article.id}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="edit-article--input-fields__column">

    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Supplier Id</mat-label>
      <input matInput formControlName="supplierId" >
    </mat-form-field>

    <div *ngIf="article.type == 'book'" class="edit-article--input-groups__flattened">
      <mat-form-field appearance="fill">
        <mat-label>author</mat-label>
        <input matInput formControlName="author" >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>isbn</mat-label>
        <input matInput formControlName="isbn" >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>pages</mat-label>
        <input matInput formControlName="pages" >
      </mat-form-field>
    </div>

    <div *ngIf="article.type == 'game'" class="edit-article--input-groups__flattened">
      <mat-form-field appearance="fill">
        <mat-label>Publisher</mat-label>
        <input matInput formControlName="publisher" >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Minimum Age</mat-label>
        <input matInput formControlName="minage" >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Genre</mat-label>
        <input matInput formControlName="genre" >
      </mat-form-field>
    </div>

    <div *ngIf="article.type == 'lp'" class="edit-article--input-groups__flattened">
      <mat-form-field appearance="fill">
        <mat-label>artist</mat-label>
        <input matInput formControlName="artist" >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>genre</mat-label>
        <input matInput formControlName="genre" >
      </mat-form-field>
    </div>


  </mat-card-content>
  <mat-card-actions>
    <button mat-button type="button" (click)="dismissChanges($event)">Dismiss</button>
<!--    <button mat-button (click)="doEdit()" *ngIf="showAdminControls" >EDIT</button>-->
<!--    <button mat-button (click)="doDelete()" *ngIf="showAdminControls" >DELETE</button>-->
    <button mat-button type="submit">Save</button>
  </mat-card-actions>
  </form>
</mat-card>


