:host {
  width: 90%;
}

.mat-column-articleId{
  width: 10%;
}

.mat-column-articleType{
  width: 10%;
}

.mat-column-quantity{
  width: 10%;
}

.mat-column-price{
  width: 10%;
}
.mat-column-itemtotal{
  width: 10%;
}

.mat-column-delete{
  width: 6%;
}
.mat-column-title{
  width: 50%;
}


.cart--header-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 15rem;
}
.cart--header-item{
  height: 3rem;
  margin-top: 1rem;
  box-sizing: border-box;
  max-width: 50%;
}
