.search-form--inputs__vertical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;

}

.wrap {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40%;
}

.search-form--id{
  flex-basis: 40%
}
.search-form--type{
  flex-basis: 40%
}
.search-form--title{
  flex-basis: 80%
}
.search-form--minprice{
  flex-basis: 40%
}
.search-form--maxprice{
  flex-basis: 40%
}

.search-form--actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-form--errors {
  text-align: center;
}
