<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="display-article--card-icon"></div>
    <mat-card-title>
      {{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.type | titlecase}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div>{{article.id}}</div>
    <div>{{article.type}}</div>
    <div>{{article.title}}</div>
    <div>{{article.supplierId}}</div>
    <div>{{article.price}}</div>
    <div>{{article.type == 'book' ? article?.author: ""}}</div>
    <div>{{article.type == 'book'? article?.genre: ""}}</div>
    <div>{{article.type == 'book'? article?.genre: ""}}</div>
    <div>{{article.type == 'book'? article?.isbn: ""}}</div>

    <app-add-review *ngIf="showAddReview" (dismissEvent)="showAddReview = false"></app-add-review>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button  (click)="navigate()" >Back</button>
<!--    <div class="flex-spacer"></div>-->
    <button mat-button (click)="doEdit()" *ngIf="showAdminControls" >EDIT</button>
    <button mat-button (click)="doDelete()" *ngIf="showAdminControls" >DELETE</button>
    <button mat-button  (click)="addToCart()" *ngIf="!showAdminControls" >BUY</button>
    <button mat-button  (click)="addToFavorites()" *ngIf="!showAdminControls" >FAVORITE</button>
    <button mat-button  (click)="displayAddReview()" *ngIf="!showAdminControls" >REVIEW</button>
  </mat-card-actions>
</mat-card>

<h3 class="review-card--margin"> Reviews </h3>
<mat-card *ngFor="let review of reviews" class="review-card--margin">
  <mat-card-header>
    <mat-card-title>{{review.userId}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-display-review [review]="review"></app-display-review>
  </mat-card-content>
</mat-card>
